.recipe{
	border-radius: 10px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: white;
	align-items: center;
	min-width: 40%;
	padding: 20px;
}
.pills{
	display: inline-block;
	background: lightcoral;
	margin: 0 3px;
	padding: 4px 6px;
	border-radius: 10px;
	color: #fff;
	font-size: 13px;
	margin-bottom: 10px;
}
.title{
	font-size: 22px;
	color: lightcoral;
	padding-bottom: 10px;
	font-family: 'Poppins', sans-serif;
}
.calorieCount{
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 8px;
}
.list{
	list-style-type: none;
	padding-bottom: 10px;
}
.pillsWrapper{
	width: 65%;
}
@media only screen and (max-width: 768px) {
	.pillsWrapper{
		width: 100%;
	}
}